@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

.remix-logo:hover {
  background: padding-box linear-gradient(90deg, #121212, #121212),
    border-box
      conic-gradient(
        from 135deg,
        hsl(217, 69%, 59%),
        hsl(102, 56%, 64%),
        hsl(48, 85%, 62%),
        hsl(312, 57%, 54%),
        hsl(358, 72%, 58%),
        hsl(312, 57%, 54%),
        hsl(48, 85%, 62%),
        hsl(102, 56%, 64%),
        hsl(217, 69%, 59%)
      );
}

.network-tab {
  background: padding-box
      linear-gradient(90deg, rgb(23 37 84 / 0.9), rgb(23 37 84 / 0.9)),
    border-box linear-gradient(135deg, hsl(221, 83%, 53%), hsl(217, 91%, 60%));
}
